root = true

[*.cs]
dotnet_diagnostic.IDE0005.severity = warning
dotnet_diagnostic.CA1822.severity = warning
dotnet_diagnostic.CA1806.severity = warning
dotnet_diagnostic.IDE0059.severity = warning
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1305.severity = none
